<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>You're the leader of these club!</h1>
  <div>
    {% for club_name, club_id in club_names|zip(club_ids) %}
    {{club_id}} : {{club_name}}
        <p><a href="/club/management/{{club_id}}/user">Club Member Management</a></p>
        <p><a href="/club/management/{{club_id}}/club_task">Club Task Management</a></p>
        <!-- <form action='/club/management/{{club_id}}', method="POST">
            <button>Manage the Club</button>
        </form> -->
    </div>
    {% endfor %}
  </div>

<p><a href="/main">Go back to home page</a></p>
