<html>
    <style>
        body{ 
        font-size: 15pt;
        font-family: arial;
        }
    </style>
  
    <body>
        <h2>Hi It's your club task detailed information!</h2>
        <h3>You are great! Keep going!</h3>

        <h4>Club task detailed information</h4>
        <div>
            <li>difficulty : {{ club_task_detail[0][0]}}</li>
            <li>reward : {{ club_task_detail[0][1]}}</li>
            <li>experience : {{ club_task_detail[0][2]}}</li>
            <li>min_people_limit : {{ club_task_detail[0][3]}}</li>
            <li>start time : {{ club_task_detail[0][4]}}</li>
            <li>finish time : {{ club_task_detail[0][5]}}</li>
        </div>

    <p><a href="/club_tasks">Back to Club Task Page</a></p>
    <p><a href="/main">Back to Main Page</a></p>
    
  
    </body>
  
  
</html>