<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome to club {{club_name[0]}}</h1>
  <h3>Add new Friends to this club!</h3>
  
  <form action='/club/management/{{club_id}}/user', method="POST">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
    <p>Enter user id: <input type="text" name="uid"> 
    <button>Add</button>
    </form>

  <h3>Here are our lovely members</h3>
  <div>
    {% for member_name, user_id in member_names|zip(user_ids) %}
    <li><a href="/profile/{{user_id}}"> {{user_id}} {{member_name}}</a></li>
    
        <form action='/club/management/{{club_id}}/user/{{user_id}}', method="DELETE">
            <button>Kick the user out of this club</button>
        </form>
    {% endfor %}
  </div>


<p><a href="/main">Go back to home page</a></p>
