<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
    <h2>Hi {{first_name}}! Start your running journey now !</h2>

    <p><a href="profile">Profile</a></p>
    <p><a href="main">Runs</a></p>
    <p><a href="main">Tasks</a></p>
    <p><a href="club/management">Manage Club (Limited to leader)</a></p>
    <p><a href="club">All Clubs</a></p>
    <p><a href="my_club">My Club</a></p>
    <p><a href="main/items">Items</a></p>
    <p><a href="store"}">Go to Stores</a></p>
    <p><a href="main">Exit</a></p>

    
</body>


</html>
