<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome to Store: </h1>
  <h1>{{store_names[0]}}</h1>
  <h2>Here are the first 10 available items in our store</h2>
  <div>
    {% for item in item_names %}
    <div>{{item}} 
        <form action='/add_item', method="POST">
            <input name="to" id="to" value="Mom">
            <button>Add the item</button>
        </form>
    </div>
    {% endfor %}
  </div>

<p><a href="{{ url_for('index') }}">Go back to home page</a></p>

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
